<h2>Message sent</h2>

<p> A message with a link has been sent from {{senderAddress}}.  When
you open the link in a browser a cryptographic credential will be
installed in the browser and you will be prompted to register a
password.  </p>
