<h2>Message sent</h2>

<p> The cryptograhic credential for your email address was not found in
this browser.  A message with a link for installing the credential has
been sent from {{senderAddress}}.  </p>
