{{#if loggedIn}}
    {{> logged-in-as}}
{{else}}
    {{> pagetop-login-form}}
{{/if}}

<h1>Public Page 1</h1>

<h3>Menu</h3>

<p>You are in Public Page 1.  This is the home page.</p>
<p><a href="/public-page-2.html">Go to Public Page 2</a>.</p>
<p><a href="/public-page-3.html">Go to Public Page 3</a>.</p>
<p><a href="/private-page-1.html">Go to Private Page 1</a>.</p>
<p><a href="/private-page-2.html">Go to Private Page 2</a>.</p>
<p><a href="/private-page-3.html">Go to Private Page 3</a>.</p>
